<div class="row">
    <a class="nav-link btn btn-sm btn-primary" [routerLink]="['/links', 'add']">Add Link</a>
</div>
<div class="row">
    <div class="column-4" *ngFor="let link of linkArray">
        <div class="item">
            <div class="panel">
                <div class="panel-heading">
                    <div><a href="{{link.link}}" target="_blank">{{link.title}}</a></div>
                </div>
                <div class="panel-body">
                    <a class="nav-link btn btn-sm btn-primary" [routerLink]="['/links', 'edit', link.id]">Edit</a>
                    <a class="nav-link btn btn-sm btn-danger flow-right" (click)="confirmDeleteLink(link.id)">Delete</a>
                    <!-- <a href="{{link.link}}" target="_blank">{{link.link}}</a> -->
                    <p class="group inner list-group-item-text">{{link.description}}</p>
                    <div class="row">
                        <div class="category-column">
                            <span>{{link.category}}</span>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>