body{
  margin: 0;
}
.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.sidebar { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 1px;
  background-color: #121212;
  padding: 1px;
  color:#fff;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header h2 {
  margin:2px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column-8 {
  width: 75%;
  float:left;
  padding: 10px 0;
}
.column-4 {
  width:25%;
  float:left;
  padding: 10px 0;
}

.category-column span {
  border-radius: 15%;
  background-color: blue;
  color: cornsilk;
  padding: 5px;
  font-size:13px;
}
.item {
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;;
}

.darkTheme .item {
  background-color: #403f41;
  margin: 10px;
  padding: 10px;;
}
.item a { text-decoration: none; }
.darkTheme .item a { color:#fff; }
.lightTheme .grid-container {
  background-color: #F2F4F4;
  color: #000;
}

.grid-container > div, .header, .footer, .main, .menu, .sidebar {
  padding: 20px;
}

.lightTheme .footer, .lightTheme .header {
  background-color: #5A8DEE;
  color:#fff;
}

.darkTheme .footer, .darkTheme .header {
  background-color: #403f41;
}

.toggle_theme {
    float:right;
    margin-right: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    top: 6px;
    margin: 0 5px;
  }
  .switch input { 
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(0, 0, 0, 0.5);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color:white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }