<div class="row">
    <div class="column-4" *ngFor="let link of linkArray">
        <div class="item">
            <div class="thumbnail">
                <div class="caption">
                    <a href="{{link.link}}" target="_blank"><h2 class="group inner list-group-item-heading">{{link.title}}</h2></a>
                    <p class="group inner list-group-item-text">{{link.description}}</p>
                    <div class="row">
                        <div class="category-column">
                            <span>{{link.category}}</span>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>